දිවුරුම් ප්‍රකාශය

{{ jurisdiction }} අධිකරණ බල ප්‍රදේශය සම්බන්ධයෙන්

මම, {{ deponent_name }}, ජාතික හැඳුනුම්පත් අංක {{ deponent_nic }} දරන, {{ deponent_address }} ලිපිනයේ පදිංචි පුද්ගලයෙකු වන අතර, පහත සඳහන් කරුණු විධිමත්ව දිවුරුම් දී ප්‍රකාශ කරමි:

1. ඉහත සඳහන් ප්‍රකාශකයා මම වන අතර, මෙම දිවුරුම් ප්‍රකාශයේ සඳහන් කරුණු ප්‍රකාශ කිරීමට මට හැකියාව සහ දැනුම ඇත.
2. මම ප්‍රකාශ කරන කරුණු පහත පරිදි වේ:
   {{ statement_facts }}
3. [EXPAND: ශ්‍රී ලංකා නීතිය යටතේ අසත්‍ය ප්‍රකාශයක් කිරීමේ ප්‍රතිවිපාක දැනගෙන කරුණු සත්‍ය බව තහවුරු කරන විධිමත් ප්‍රකාශයක් සකස් කරන්න.]
4. [IF jurisdiction: මෙම දිවුරුම් ප්‍රකාශය {{ jurisdiction }} අධිකරණ බල ප්‍රදේශය තුළ භාවිතා කිරීම සඳහා සකස් කර ඇත.]

මෙම දිවුරුම් ප්‍රකාශය __________________ හිදී {{ date }} දින දිවුරුම් දී හෝ සහතික කර ඇත.

........................................
ප්‍රකාශකයාගේ අත්සන

මා ඉදිරියේ:

........................................
සාක්ෂි කොමසාරිස් / දිවුරුම් කොමසාරිස්
