AFFIDAVIT

IN THE DEMOCRATIC SOCIALIST REPUBLIC OF SRI LANKA
[IF jurisdiction: IN THE MATTER OF A DECLARATION FOR USE WITHIN THE JURISDICTION OF {{ jurisdiction }}, SRI LANKA]

I, {{ deponent_name }}, holder of National Identity Card No. {{ deponent_nic }}, of {{ deponent_address }}, being a person competent to make this declaration, do hereby solemnly, sincerely, and truly declare and affirm as follows:

1. I am the Deponent above named and I make this Affidavit of my own free will for all lawful purposes for which the same may be required.
2. The material facts relied upon by me are as follows:
   {{ statement_facts }}
3. [EXPAND: Draft a knowledge-and-belief clause confirming that the deponent relies on personal knowledge and believes the contents of this affidavit to be true and correct.]
4. This Affidavit is made in accordance with the Oaths Ordinance of Sri Lanka and is intended to be sworn or affirmed before a Justice of the Peace or Commissioner for Oaths duly authorized by law.
5. [EXPAND: Draft a formal truth-and-consequences clause confirming that the deponent understands the legal consequences of making a false affidavit in Sri Lanka.]
6. [IF jurisdiction: This Affidavit is tendered for use within the jurisdiction of {{ jurisdiction }}, Sri Lanka.]
7. [IF date: Sworn or affirmed by the said {{ deponent_name }} on {{ date }} at ____________________.]

........................................
Signature / Thumb Impression of Deponent

Before me,

........................................
Justice of the Peace / Commissioner for Oaths

Name:
Designation:
Address:
