ගිවිසුම

මෙම ගිවිසුම {{ start_date }} දින ඇති කරනු ලැබේ.

පාර්ශවයන්

{{ party_a }}
("පාර්ශවය අ" ලෙස හැඳින්වේ)

සහ

{{ party_b }}
("පාර්ශවය බ" ලෙස හැඳින්වේ)

පූර්වකථනය

අ. {{ contract_purpose }} සම්බන්ධයෙන් පාර්ශවයන් අතර පවතින එකඟතාවය ලිඛිතව සටහන් කිරීම සඳහා මෙම ගිවිසුම ඇති කරනු ලැබේ.
ආ. මෙම ගිවිසුම ශ්‍රී ලංකා නීතිය අනුව බැඳී පවතින සහ ක්‍රියාත්මක කළ හැකි ලේඛනයක් වීම පාර්ශවයන්ගේ අදහස වේ.

එබැවින් පහත පරිදි එකඟ වේ:

1. අරමුණ
   මෙම ගිවිසුම {{ contract_purpose }} සම්බන්ධයෙන් පාර්ශවයන්ගේ අයිතිවාසිකම් සහ වගකීම් පාලනය කරයි.

2. පාර්ශවය අ ගේ වගකීම්
   {{ obligations_a }}

3. පාර්ශවය බ ගේ වගකීම්
   {{ obligations_b }}

4. ගෙවීම් සහ පිරවැය
   {{ payment_terms }}
   [IF payment_terms: ඉහත සඳහන් ගෙවීම් කොන්දේසි අනුව නියමිත කාලයේදී සහ නියමිත ආකාරයෙන් ගෙවීම් සිදු කළ යුතුය.]

5. කාලසීමාව
   මෙම ගිවිසුම {{ start_date }} දින ආරම්භ වී {{ end_date }} දක්වා, හෝ එයට පෙර නීතියෙන් හෝ ගිවිසුමේ කොන්දේසි අනුව අවසන් කරනු ලබන තුරු, බලපැවැත්වේ.

6. [EXPAND: ගිවිසුම නීත්‍යානුකූලව, සද්භාවයෙන් හා නිසි අවධානයෙන් ඉටු කළ යුතු බව සඳහන් කරන විධිමත් වගන්තිය සකස් කරන්න.]
7. [EXPAND: ගිවිසුම් උල්ලංඝනය, දැනුම්දීම, දෝෂ නිරාකරණය සහ ශ්‍රී ලංකාවට සුදුසු ආරවුල් විසඳීමේ වගන්තියක් සකස් කරන්න.]

8. පාලක නීතිය සහ අධිකරණ බලය
   මෙම ගිවිසුම ශ්‍රී ලංකා ප්‍රජාතාන්ත්‍රික සමාජවාදී ජනරජයේ නීතිය අනුව පාලනය කර අර්ථකථනය කරනු ලැබේ.
   {{ jurisdiction }}, ශ්‍රී ලංකාව අදාළ අධිකරණ බලය ඇති අධිකරණවලට මෙම ගිවිසුමෙන් උද්ගත වන හෝ සම්බන්ධ වන ආරවුල් සම්බන්ධයෙන් අධිකරණ බලය ඇත.

9. පොදු විධිවිධාන
   මෙම ගිවිසුම එහි විෂයය සම්බන්ධයෙන් පාර්ශවයන් අතර සම්පූර්ණ එකඟතාවය නිරූපණය කරන අතර, දෙපාර්ශවයම අත්සන් කළ ලිඛිත ලේඛනයකින් පමණක් සංශෝධනය කළ හැක.

මෙයට සාක්ෂිව, පාර්ශවයන් පහත අත්සන් තබා ඇත.

........................................
පාර්ශවය අ ගේ අත්සන

නම:
දිනය:

........................................
පාර්ශවය බ ගේ අත්සන

නම:
දිනය:

සාක්ෂිකරුවන්:

1. ......................................
   නම:
   ලිපිනය:

2. ......................................
   නම:
   ලිපිනය:
