ගිවිසුම

මෙම ගිවිසුම {{ start_date }} දින සිට බලපැවැත්වෙන අතර {{ end_date }} දින දක්වා, පහත සඳහන් කොන්දේසි යටතේ ක්‍රියාත්මක වේ.

පාර්ශවයන්

{{ party_a }}
සහ
{{ party_b }}

පාර්ශවයන් මෙම ගිවිසුම පහත අරමුණ සඳහා ඇතිකර ගැනීමට එකඟ වී ඇත:
{{ contract_purpose }}

එබැවින් පාර්ශවයන් පහත පරිදි එකඟ වෙති:

1. පළමු පාර්ශවයේ වගකීම්
   {{ obligations_a }}

2. දෙවන පාර්ශවයේ වගකීම්
   {{ obligations_b }}

3. ගෙවීම් කොන්දේසි
   {{ payment_terms }}
   [IF payment_terms: ඉහත සඳහන් ගෙවීම් කොන්දේසි අනුව පමණක් ගෙවීම් සිදු කරනු ලැබේ.]

4. පාලක නීතිය සහ අධිකරණ බල ප්‍රදේශය
   මෙම ගිවිසුම {{ jurisdiction }} අදාළ නීති සහ අධිකරණ බල ප්‍රදේශය යටතේ පාලනය වේ.

5. [EXPAND: ශ්‍රී ලංකා නීතිය යටතේ ඉටුකිරීම, උල්ලංඝනය, හොඳ විශ්වාසය, ආරවුල් විසඳීම සහ ගිවිසුමේ බලපැවැත්ම සම්බන්ධ විධිමත් වගන්ති සකස් කරන්න.]

පාර්ශවයන් පහත අත්සන් මගින් මෙම ගිවිසුම අනුමත කර ඇත.

........................................
පළමු පාර්ශවයේ අත්සන

........................................
දෙවන පාර්ශවයේ අත්සන

දිනය: ______________________
