{{ court_name }}
ශ්‍රී ලංකා ප්‍රජාතාන්ත්‍රික සමාජවාදී ජනරජයේ

පහත විෂය කරුණ සම්බන්ධයෙන්:
{{ subject_matter }}

අතර

{{ petitioner_name }}
ජාතික හැඳුනුම්පත් අංකය: {{ petitioner_nic }}
ලිපිනය: {{ petitioner_address }}

පෙත්සම්කරු

සහ

{{ respondent_name }}

විත්තිකරු

පෙත්සම

පෙත්සම්කරු ගරු අධිකරණය වෙත ගෞරවයෙන් පහත පරිදි සඳහන් කරයි:

1. ඉහත නම් සඳහන් පෙත්සම්කරු මෙම ගරු අධිකරණයේ අධිකරණ බලය ඉල්ලා සිටීමට සුදුසු පුද්ගලයා වේ.
2. මෙම පෙත්සමේ විෂය කරුණ පහත පරිදි වේ:
   {{ subject_matter }}
3. පෙත්සම්කරු ඉල්ලා සිටින පිළියම පහත පරිදි වේ:
   {{ relief_sought }}
4. [EXPAND: ශ්‍රී ලංකා පෙත්සමකට අදාළ අධිකරණ බලය, පසුබිම් කරුණු සහ ඉල්ලීම් විධිමත්ව විස්තාරණය කරන්න.]

[IF date: __________________ හිදී {{ date }} දින.]

........................................
පෙත්සම්කරුගේ / නීතිඥවරයාගේ අත්සන
